[2021-03-10 09:16] dargueso opened #1 "Domain attempt"
This is a proposal for domains: 10km and 1km.
The 1km domain shows the location of Kuala Lumpur (urban areas in cyan) and it spans 331 points by 321 points (331x321 kms).
![WRF_DOMAINS](https://user-images.githubusercontent.com/4198115/110605610-937ede80-8189-11eb-8bb3-37234d184c69.png)
![Urban_Domain_KL_1km](https://user-images.githubusercontent.com/4198115/110605642-9b3e8300-8189-11eb-86d4-14f00

[2021-03-12 15:33] matthiasdemuzere commented on #1
Nicely centered over Kuala Lumpur, with sufficient distance on all sides. This looks fine to me.

Do you have the land cover as used in WRF as a netcdf file? Then I can already start looking at it?

Next step for me is to make a good quality LCZ map for this area. This will take a bit of time, I'll keep you posted!

[2021-03-15 12:14] dargueso commented on #1
Added netcdf file with all the static files. The variable you want to look at is LU_INDEX. The urban area is category 13.
Other categories are:

1,  'Evergreen Needleleaf Forest'
2,  'Evergreen Broadleaf Forest'
3,  'Deciduous Needleleaf Forest'
4,  'Deciduous Broadleaf Forest'
5,  'Mixed Forests'
6,  'Closed Shrublands'
7,  'Open Shrublands'
8,  'Woody Savannas'
9,  'Savannas'
10, 'Grasslands'
11

[2021-03-17 08:44] matthiasdemuzere commented on #1
Perfect. I'll have a look.

Yet first I need to make a LCZ map for this area ... I am working on
this now!

M.

On 3/15/21 1:15 PM, Daniel Argüeso wrote:

[2021-03-22 10:35] dargueso opened #2 "Preparing Natural and Default simulations."
Everything ready to run the natural (urban replaced with surrounding dominant land-use) and default simulations .

A couple of questions before I move on:

1) Did we finally agree on the 2008-2012 (like the previous paper) or 2016-2020 (most updated ERA5)? I think we said the last one, but just to make sure before starting the runs.

2) I will also run the default run with the land-use from MODIS.

[2021-03-22 12:08] matthiasdemuzere commented on #2
Great news!

I am indifferent here. Both have (dis)advantages. I'll leave the decision up to you.

I don't have the LCZ map yet, so I do not know yet how much different the urban extent is compared to the one from MODIS.
Could you wait a bit longer to start this run, so that I have time to figure this one out?

Sounds reasonable to me. First goal is of course to see whether a more detailed urban d

[2021-03-22 15:04] dargueso commented on #2
Sounds good. I will go for the 2016-2020 period, being aware of the disadvantages. The original runs were ERA-Interim, so they are not exactly comparable anyway.

Yes, I can wait and hold the default one. I'll go with the natural one in the meantime.

I'm keeking precipitation at higher frequency (10min), which I think it could be nice to study changes in intensity. All the rest at hourly, except

[2021-03-26 16:09] matthiasdemuzere commented on #1
@dargueso Just reopened and renamed the topic, will use this one also for all thing related to the LCZ conversion.

I am still working on a final LCZ map, for now I try to understand all grid conversions with a temporary map.

In the figure below you can see the urban LCZs over KL, with the transparent blue boxes the LU=13 from WRF.
So it is clear that the present-day urban extent is much larger .

[2021-03-26 16:23] dargueso commented on #1
Hi @matthiasdemuzere, yes, totally agree.
I would go for option 1). Otherwise, we would mix things in my opinion. While we will test the impact of LCZ, the original scientific question was in fact the role of city heterogeneity, which we address through LCZs.

The Natural run is going fast, but it will take around two-three weeks to complete. Then we have until June 30th (end of period for CPU usa

[2021-03-26 16:28] matthiasdemuzere commented on #1
Ha, this is a relief. Ok, then I will not work on this anymore until April 20 (except for the production of the LCZ map, which takes some iterations).

It should be feasible afterwards to have the input ready by end of April, although I might need some support from @andreazonato at times, to make sure I do the conversion correct!

[2021-03-26 16:38] dargueso commented on #1
Once we have the default urban with the LCZ extension, I can easily run that experiment.
For the third one, the experiment with LCZ land use, I will need some assistance from you guys too, especially @andreazonato. The whole process for the third run will likely be a bit longer, since I'm not familiar with all the methodology.

[2021-04-13 14:20] matthiasdemuzere commented on #2
Hi @dargueso,

I have been working a bit on the LCZ-based urban extent for the "Default" run.
Some notes are available [here](https://github.com/matthiasdemuzere/wrf-lcz-KL#implement-lcz-information).

Resulting file is under: Data > geo_em.d02_LCZurban.nc.
In this file, LU_INDEX = 13 refers to the aggregated (mode) LCZ pixels belonging to built LCZ classes 1 to 10.

Can you have a look if the for

[2021-04-13 15:11] matthiasdemuzere opened #3 "LCZ-based urban simulation"
Hi all,

As a reminder, we planned to do three WRF runs with a domain centered over Kuala Lumpur:
1. **Natural**: urban areas replaced by its surrounding natural land cover (RUNNING)
2. **Default Urban**: WRF's default urban extent is replaced by the LCZ-based urban extent. Urban in this case is still binary.
3. **LCZ-based Urban**: using the LCZ classes and urban canopy parameters to describe the

[2021-04-13 15:29] andreazonato commented on #3
@matthiasdemuzere
PART I is correct. The values you are referring to are taken from the binary files in WPS, and interpolated into the geo_em.* Is should be done with the rd_wr_binary.f90 I passed you that should be opportunely modified, in order to give to the nx x ny x 132 URBPARAM matrix the correct verical coordinate.

PART II
The file should be created in which way you want. The first column

[2021-04-13 18:21] matthiasdemuzere commented on #3
Unfortunately I am not so familiar wth WRF's WPS system. But since I am developing all of this in python, I could basically mimic this procedure in python, no?

@andreazonato: Perhaps you could provide me with one of your processed geo_em file that already contains these variables? So that I know what I should be working towards?

Mmm... ok. So also this one I will try to create in python then. Al

[2021-04-14 08:40] andreazonato commented on #3
@matthiasdemuzere,
All the examples of the files are included into the WUDAPT_TO_WRF folder in the code section. To make the things easier, should we plan a call togheter so I can say you where to look at as example?

[2021-04-14 09:40] matthiasdemuzere commented on #3
@andreazonato

Mmm ... I have been looking into this folder, but I was not really seeing the files I was expecting.
So yes, good idea to have a call.

Would you be available this afternoon already?

[2021-04-14 12:19] andreazonato commented on #3
@matthiasdemuzere  What about 4 pm?

[2021-04-14 12:26] matthiasdemuzere commented on #3
Ha, that will not work for me.
Otherwise we can do it tomorrow before noon?
Anything after 9h15 works for me.

On 4/14/21 2:19 PM, andreazonato wrote:

[2021-04-14 12:28] andreazonato commented on #3
Ok, that works for me too. Let's do at 9:30?

[2021-04-14 12:29] dargueso commented on #3
Sorry guys, I've been very busy teaching since Monday. I can't today, but could tomorrow. I also have teaching tomorrow, so I would only have a couple of spare hours between 9.30am and 11.30am. While I was writing I got your messages. 9.30am tomorrow is fine with me too.
I'll go through your messages this afternoon and reply if I need to.

[2021-04-14 13:12] matthiasdemuzere commented on #3
Great. See zoom invite in inbox!

[2021-04-15 12:59] matthiasdemuzere opened #4 "geo_em variables depend on LU_INDEX, problem?"
Hi all,

I was chatting with Oscar about his WUDAPT-to-WRF developments, to make sure we are not doing the same thing at the same time. Seems not, as he does not intend to really provide a new tool / skip the intermediate txt/binary steps.

One thing he did mention is the following:

Is this posing a problem for what we have in mind?
Or is this what you previously referred to @andreazonato / @darg

[2021-04-15 13:15] andreazonato commented on #4
@matthiasdemuzere
I think the discrepancies whose we can get in terms of GREENFRAC, for example, are not really an issue in the urban areas. Here They are not read into the urban scheme routine, so they are not important.

They can become important for the experiment A), since we change the urban landuse with croplands, but anyhow I think there is no difference for this variables between urban and

[2021-04-15 15:37] matthiasdemuzere commented on #4
Ok, I had a quick look at some of these fields. I am displaying there temporal mean (as they are monthly) for the urban areas (LU_FRACTION == 13) only (left) and the whole domain (right).

GREENFRAC:
![LU_INDEX_GREENFRAC](https://user-images.githubusercontent.com/6926916/114894193-b6e31c00-9e0e-11eb-866b-acb41e4f8e44.jpg)

ALBEDO12M:
![LU_INDEX_ALBEDO12M](https://user-images.githubusercontent.com/

[2021-04-15 15:39] dargueso commented on #4
Hi @matthiasdemuzere,

As a general rule, I agree that directly modifying the geo_em files must be done carefully, because there are interdependencies in the variables. In our case, I modify GREENFRAC the same way I do with LU_INDEX. The urban footprint is very clear in GREENFRAC.

I don't modify LAI12M and ALBEDO12M. There is an urban signature in LAI12M, and ideally this should be modified too,

[2021-04-15 18:25] matthiasdemuzere commented on #4
Damn, this is getting much more complicated then I thought. And now I am not sure how we should best proceed with this. Either:
1. use the default way with support from @andreazonato, and focus on our research question only
2. spend time to develop a correctly working new module, and both address our research question AND deliver an easy-to-use tool that might have a large impact on the community.

[2021-04-15 18:26] matthiasdemuzere commented on #4
And one thing we should keep in mind: we are now focussing on these features for this specific domain. I can imagine that other urban areas show a much more pronounced difference for these GREENFRAC, ALBEDO, ... fields?

[2021-04-16 09:24] dargueso commented on #4
@matthiasdemuzere, I would be inclined to option 2 as well, the impact on the community would be much bigger. I'm happy to contribute to this as much as I can. I have used WRF for many years, but I have always dealt with geogrid in a pretty standard way, so not sure how complicated it can get. Also, I have limited time to devote to this, just like you guys, I imagine.

Anyway, on the technical sid

[2021-04-16 11:51] matthiasdemuzere commented on #4
Ok. Let's take the plunge, and go for 2. Spend time to develop a correctly working new module, and both address our research question AND deliver an easy-to-use tool that might have a large impact on the community.

Let me try to break this down a bit, for clarity:
**GOAL**: Develop a python package that ingests LCZ information directly into the default geom_em*.nc file, skipping all intermediate

[2021-04-20 08:56] andreazonato commented on #4
Sorry for the late reply guys, I've been busy with external issues.
Replying to your questions:
 _"If one uses the default procedure, is the urban extent adjusted to the LCZ urban extent, or is the default urban extent kept so that only LCZ classes are provided to that urban extent?"_
That's up to the user. I did not modify any of the preprocessing methods. Personally, I remove the default urban e

[2021-04-20 09:06] dargueso commented on #4
I agree with @andreazonato in all his comments.
I would add, answering to  @matthiasdemuzere's question:

As far as I can tell, at high-res (1km) they take 0 or 1 only. At coarser resolutions (e.g. 10km) they take intermediate values as well. Given that most of the original information is at 30sec resolution (~1km), I would assume that most of each WRF grid cell are covered by a single category an

[2021-04-20 09:11] andreazonato commented on #4
Standardly, WRF does not use the Mosaic approach, so the variable LANDUSEF is not used during the simulations. The MOSAIC approach would be really useful instead of doing the aggregation process. But to do it we need to do a bit more of hard-coding in WRF to standardize the process. I'm discussing this with Alberto Martilli, to make the modifications in the 4.4 version

[2021-04-20 13:42] matthiasdemuzere commented on #4
That's a lot of useful info @dargueso and @andreazonato.

To summarize and comment:

put the LCZ extent over the rural landuse. Others instead put the LCZ over the pre-existing default urban, in order to keep areas that are not described by LCZ with standard urban extent.

Ok. Yet a bit strange in case you have MODIS urban pixels where you do not have LCZ pixels? As you can then not assign an LCZ

[2021-04-20 13:51] matthiasdemuzere commented on #4
So from all of the above, I see the following to do's, per experiment:

**Experiment B:**
- Replace MODIS LCZ with URBAN LCZ
- Make sure to also replace GREENFRAC
- LANDUSEF could be changed for consistency, but will not be used

**Experiment C:**
- Also add LCZ class numbers to LU_INDEX
- Add URB_PARAM matrix to netcdf file.

Is the above correct @dargueso and @andreazonato?

So I could aim strai

[2021-04-20 14:08] dargueso commented on #4
Sorry @andreazonato, I mixed up the mosaic approach and the aggregation approach, I think. The resolution rationale still applies to the aggregation, and it results in LANDUSEF values different from 0 and 1 in the coarse resolution domain, as I understand it.

Anyway, I think @matthiasdemuzere plan sound good. The Exp B is definitely a simplification of C, so I don't see a problem on your idea. I

[2021-04-20 18:49] matthiasdemuzere commented on #4
For GREENFRAC.

So @dargueso routine replaces MODIS urban with surrounding natural, not only for LU_INDEX but also for GREENFRAC.
Then I put in the LCZ urban extent, and I thus need to adjust GREENFRAC again.

My idea: Tke the GREENFRAC mean / month over all MODIS urban pixels from the default file, and assign that to LCZ urban pixels. Does that make sense?

If not, any other suggestions? @dargues

[2021-04-20 19:08] matthiasdemuzere commented on #4
I believe this will not work.

LU_INDEX is a 2d field, so either:
- has value 13 for urban pixels
- or has values 30, ..., 41 denoting the LCZ class.

So probably best to make 2 separate outputs?
- One just having the urban extent
- A second one with all LCZ information

Having both, a user can still decide what experiment to run. Even though I assume most users using this tool will be interested

[2021-04-20 19:28] andreazonato commented on #4
Yes, I agree with you with this methodology. That should work properly and should give increasing better results in terms of comparison with observational data.

[2021-04-20 19:32] andreazonato commented on #4
The flag is used in order to extend the urban landuse from 3 (or simply one) to the 11 LCZs. The difference between experiment B) and C) is the presence (or not) of the URB_PARAM matrix, in order to evaluate the difference between the majority value (B) and  the aggregation process (C). Regarding the GREENFRAC replacement, I agree with your methodology @matthiasdemuzere. Anyway, values of GREENFRA

[2021-04-20 19:38] matthiasdemuzere commented on #4
Ok. But, my idea was to run our experiment B. (=only one urban class) with the LU_INDEX values that contain LCZ numbers (30-41). That can't work no? If one sets the flag to use to one urban class, I expect this class is defined by LU_INDEX == 13?

[2021-04-20 19:43] andreazonato commented on #4
No, it won't work. To run the experiment B) with a single urban class, every 30-41 class should be replaced with the 13th class (and even IVGTYP). Another possibility is to run it with the 30-41 urban classes, but with geometric and thermal urban parameteres taken from the lookup table (instead of reading them from the URB_PARAM matrix and then avoiding the aggregation process).

[2021-04-20 19:45] matthiasdemuzere commented on #4
Ok. But it seems this Kuala Lumpur area is rather specific. Have a closer look at GREENFRAC from the original geo_em.nc file (same one as posted before).

![image](https://user-images.githubusercontent.com/6926916/115454385-049dc100-a221-11eb-85ef-adc50a12b121.png)

You can see lower than average values for the urban area, **AND** the areas around that (all LU_INDEX == 12). So our GREENFRAC values

[2021-04-20 19:50] matthiasdemuzere commented on #4
A last one for today. @andreazonato you refer to IVGTYP once and a while, but it is not clear to me what variable this is? I do not see it anywhere in the geom file?

[2021-04-20 20:00] andreazonato commented on #4
My mistake. IVGTYP appears only in the wrfinput, not in the geoem files. No need to modify it. Sorry

[2021-04-21 08:23] matthiasdemuzere opened #5 "Construct URB_PARAM matrix"
Let's start a new issue to discuss everything related to the URB_PARAM matrix.

So according to the user guide, one needs entries in blue and purple for the single layer / all urban parameterization schemes. These include (based on input of @andreazonato):

**FRC_URB2D** (sepatate from the URBPARAM matrix) -> Fraction of impervious surface with respect to total area

Next variables should be put i

[2021-04-21 10:49] matthiasdemuzere commented on #5
@andreazonato:

**FRC_URB2D**, is that the same as **FRC_URB** in URBPARM_LCZ.TBL?
If so, the assigned values are in my opinion not correct?

For now I'll be working with a separate look-up table (based on the one I compiled for COSMO from Stewart and Oke (2012) and Stewart et al. (2014). We can afterwards see what variables and values are different ...

[2021-04-21 11:02] matthiasdemuzere commented on #5
@andreazonato:

Where can I find the values for HGT_URB2D? And what exactly does this variable mean?

[2021-04-21 11:07] matthiasdemuzere commented on #5
@andreazonato:

On a more general note, that might refer to my previous question:

Are the UCPs not weighted by ISA when aggregating from the high to the coarse resolution? See example here:
![image](https://user-images.githubusercontent.com/6926916/115543803-13788800-a2a2-11eb-9cbd-f486fda6db33.png)

This is something we do in the WUDAPT-TO-COSMO conversion (except for ISA, which is FRC_URB2D in

[2021-04-21 11:13] matthiasdemuzere commented on #5
@andreazonato:

Just to be sure. The index values you provide (91, 92, ...) are fortran-based, no? Meaning they start at position 1?
This is important, since python starts at 0, so I have to makes sure to put them at the right place ...

[2021-04-21 12:28] andreazonato commented on #5
Yes, FRC_URB2D is FRC_URB in URBPARM_LCZ.TBL. You can change it inside the URBPARM, these are values I assigned to my LCZ  here in Italy. You can change them

[2021-04-21 12:30] andreazonato commented on #5
These are the building heights, where the average within the same cell is made weighting based on the area of the buildings. However in my opinion a simple average can work

[2021-04-21 12:31] andreazonato commented on #5
That's exactly what we need. In my opinion thats not fundamental, but better if we have it

[2021-04-21 12:33] andreazonato commented on #5
Yes, they are fortran based, so 1 to 132. Values I put in the instructions are fortran suited. In any case, when you'll visualize them with ncview, they will be 0 to 132-1, because ncview works like python

[2021-04-21 13:27] matthiasdemuzere commented on #5
@andreazonato:

And where can I find the values for **LB_URB2D** and **LF_URB2D**? So the total and frontal area fractions?

[2021-04-21 13:37] andreazonato commented on #5
https://ars.els-cdn.com/content/image/1-s2.0-S221209551930183X-gr4_lrg.jpg

The first row is LB_URB2D. LB_URB2D is basically LP_URB2D (horizontal area fraction)+LF(the frontal area fraction)

[2021-04-21 13:54] matthiasdemuzere commented on #5
Uhm, ok, but I can not derive the actual values from that Figure no? As I can not see them in URB_PARAM.TBL_LCZ, I wonder where the actual values are?

[2021-04-21 15:09] dargueso commented on #4
Hey, I have gone through your comments. You're really active! Great to see :)
Going from LCZ LU_INDEX (31-40) to standard urban LU_INDEX (13) can be added as an option in the tool, it is just a matter of replacing all values in the range 31-40 to 13 in the geo_em file. So I'd say, as I think you both suggest, let's prepare everything for exp C, and then we can modify the geo_em to make it suitable

[2021-04-21 15:10] andreazonato commented on #5
There are two possibilities to estimate these values for each LCZ.

1) directly take them from  Stewart and Oke (2012)

2) assign to each LCZ a value for h(building height distribution) b(building width) and w(street width) and then calculate them as=

lambda_p=b/(b+w)
lambda_f=2*h/(b+w) (that's an estimation, in my paper I use this formula)
lambda_b=lambda_p+lambda_f

[2021-04-21 18:28] matthiasdemuzere commented on #5
Ha, I  see. I thought there existed a pre-compiled set of values. Seems not, good to know. Will see how to integrate these then ... Thanks.

[2021-04-21 19:52] matthiasdemuzere commented on #5
@andreazonato:

Perhaps you can help me out witth these 2 variables a bit.

1. Stewart and Oke (2012) do not have any information on the frontal area or total area index in their tables?
The only thing useful is their aspect ratio H/W, as we can get W from that, since we know H.

So that leaves a decision on building width. Not sure how to guess this one? I also don't really see fro your paper wha

[2021-04-22 07:44] andreazonato commented on #5
Yes, exactly those values. I used them for my paper, don't know if they fit with Kuala Lampur though.

[2021-04-22 07:48] matthiasdemuzere commented on #5
Of course, the whole idea of WUDAPT is that it provides a first order approximation of urban canopy information, especially for those areas that lack more detailed information. So this is a good starting point.

Since I will introduce a small .csv lookup table in this python module, users can always adjust parameter values if they think/know that they are not fit for their area of interest ....

[2021-04-22 13:31] matthiasdemuzere opened #6 "first version w2w and output available"
@dargueso @andreazonato

The past few days I have spent quite a bit of time on this, and I now created a first version of the w2w python module. Have a look at the repository, and the cleaned up repo. Feel free to try out the module yourself.

Resulting files are unfortunately too big to be part of the repo, you can find them [here](https://drive.google.com/drive/folders/18-JpRLhLdhVIXaE0QLw5sAHN4

[2021-04-22 13:38] dargueso commented on #6
Great @matthiasdemuzere! Thanks!
I'll give it a look tomorrow and try it myself. I'll let you know how it goes.

[2021-04-22 13:50] andreazonato commented on #6
I had a quick look, and it seems perfect!

The z location of URB_PARAMS are ok, and values are reasonable, so that's great.

I'm only wondering why mean building height (92) and area weighted mean building height (94) are so different between them.

How did you calculate the area weighted mean building height (94)?

[2021-04-22 14:00] matthiasdemuzere commented on #6
Thanks @dargueso: at least the *NoUrban*nc file should the same as yours, as I used your script in my routine ...

[2021-04-22 14:02] matthiasdemuzere commented on #6
Thanks for checking @andreazonato.

I calculated HGT_URB2D = MH_URB2D * BLDFR_URB2D

See code [here](https://github.com/matthiasdemuzere/wrf-lcz-KL/blob/2a5d69230fcc81f348efc366fca550d1b632d2ab/w2w.py#L313).

Is this not the right way to do it?

[2021-04-22 14:12] andreazonato commented on #6
No, it should be simply a mean height, but weighted using the area of the roof of each building.

Let's make an example:

LCZA: building width BWA=5; mean building height HA=20;
LCZB: buiding width  BWB=10; mean building height HB=10;

so the aggregate HGT_URB2D, in that cell, assuming there is 1 LCZA and 1 LCZB is:

HGT_URB2D= (BWA^2*HA+BWB^2*HB)/(BWA^2+BWB^2)=12.

while

MH_URB2D= (HA+HB)/2=15

[2021-04-23 12:10] matthiasdemuzere commented on #6
@andreazonato: thanks for explaining the HGT_URB2D calculation. Now I understand.

I implemented this, see [here](https://github.com/matthiasdemuzere/wrf-lcz-KL/blob/1d0ddb8197db3f9254a028a5178e249578ceff51/w2w.py#L393).

I also updated the files in Google Drive. I believe this looks much better, please have a look ...

[2021-04-23 12:19] andreazonato commented on #6
Yes, now it seems ok, great job!

Once you (or Daniel) will run this simulation, please make the variables:

LP_URB2D
LB_URB2D
HGT_URB2D
MH_URB2D
STDH_URB2D
LF_URB2D

printable, adding in the Registry.EM_COMMON the letter "h" after i0, so we can be sure those values are at the correct nz row.

[2021-04-23 12:25] matthiasdemuzere commented on #6
If both of you accept these inputs, I believe indeed we can proceed with exp. B and C.

Perhaps @andreazonato can talk to @dargueso about all required settings / flags, to make WRF run with SLUCM **and** LCZ information?

And then I guess we just have to wait?

Personally I'd like to use this *wait* time to focus on other projects.

Once results are there, I suggest the following workflow:
- analy

[2021-04-23 15:41] andreazonato commented on #6
Yes, I'll wait to interact with @dargueso  about the simulations.

Regarding: > * clean up w2w.py routine, add things if needed (see ideas on To Do of README):

I would add all the parameters required for all the urban schemes, so it it a more general code.

The only thing missing is: **Distribution of Building Heights (HI_URB2D) 118-132**

How is this calculated? Showing you an example, as before

[2021-04-23 16:10] dargueso commented on #6
Hi, I've run the python code and it runs smoothly in a fresh python environment. I just had to install a few modules. So this is perfect!
I've noticed that GREENFRAC is exactly the same in both geo_em.d02_NoUrban.nc and geo_em.d02.nc. This is because in my script original script, the part where GREENFRAC is modified was commented. Unfortunately, I didn't uncommented it and experiment A is running

[2021-04-23 16:44] dargueso commented on #4
Ok, so this goes back to something we've discussed already. Sorry about all the confusion.
In my old notes I wrote that because large areas around the city have been deforested for agriculture, replacing GREENFRAC with the dominant surrounding value does not help much, so I decided to keep the original one, which were approximately 0.55. If we want to effectively replace GREENFRAC with the "natura

[2021-04-26 07:50] matthiasdemuzere opened #8 "GREENFRAC"
I've noticed that GREENFRAC is exactly the same in both geo_em.d02_NoUrban.nc and geo_em.d02.nc. This is because in my script original script, the part where GREENFRAC is modified was commented. Unfortunately, I didn't uncommented it and experiment A is running with the original GREENFRAC. For consistency and given that the simulations past half way, we cannot change it now, but it something that

[2021-04-26 08:03] dargueso commented on #8
I agree. I have been thinking about this in the last couple of days. My idea is that in many cases, it will be impossible to restore GREENFRAC to its natural value, because it is impossible to determine what the natural value is. For example, in most European cities, which we're more familiar with, the surroundings are already altered by humans, although that is not scrictly urbanisation. There is

[2021-04-26 08:10] matthiasdemuzere commented on #6
@andreazonato:

Ok, I can try to implement this as well.

But: how do you decide what the building height distribution is within one LCZ?
Eg.

For LCZ 2, we work with an average height of 15m, and a standard deviation of 3m. Yet how do you translate this to eg. x% below 5m, y% below 10m, etc ...?

[2021-04-26 08:21] matthiasdemuzere commented on #8
I'd like to take a step back, for my understanding:

In case a pixel is urban (LU_INDEX == 13 or an LCZ number), and LANDUSEF Urban == 1. Then:
- GREENFRAC is not used, correct?

In that case, how is the vegetated part of that urban pixel treated? Example for LCZ 2, where URB_FRAC = 0.9, which leaves 0.1 of that cell non-urban. How is this treated?

In case GREENFRAC is not used for urban pixels,

[2021-04-26 08:29] matthiasdemuzere commented on #6
@dargueso this is good to know. What modules did you have to add? Then I can add this to the w2w.yml file ...

[2021-04-26 09:07] andreazonato commented on #6
Good Question. It can be done for example with a gaussian (assuming a standard deviation at least of 5 m). In this case, we will have 70% of 15 m , 15 % of 10 m and 20 % of 20 m. That's actually up to the user, and strongly depend on the city involved

[2021-04-26 09:13] matthiasdemuzere commented on #6
I assume you mean 15% of 20m?

Of course. But as I have mentioned before: in my opinion LCZ info should serve as a first proxy to describe the urban landscape, especially useful for areas that lacks other datasets. In case more detailed datasets are available (so detailed that example building height density can be derived from it), then I no longer see the added value of LCZs ...

I'll think a bi

[2021-04-26 09:23] andreazonato commented on #6
Yes, Sorry, my mistake.

I agree with you about this philosophy. The only boundary in my opinion, is that it should lay in the gap of Stewart & Oke 2012

[2021-04-26 10:38] matthiasdemuzere commented on #6
@andreazonato

Indeed. So my suggestion is to work with a bounded normal distribution framework, that allows us to make a distribution using min, max, mean and std.

See example below for LCZ 2 (Taking values from S02012 and Stewart 2014):

# LCZ 2
min_val = 10
max_val = 25
mean = 15
std = 3

![image](https://user-images.githubusercontent.com/6926916/116069299-83648500-a68b-11eb-8698-d378b082e771.

[2021-04-26 10:45] dargueso commented on #6
@matthiasdemuzere using the environment file you provide it all went fine. Nothing to add to the yml file.

[2021-04-26 10:48] andreazonato commented on #6
Yes, that' correct in this way. So that means that bep+bem does not contemplate buildings higher than 75 m. And as you suggest, large cities have higher buildings. In my opinion, avoiding to consider buildings higher than 75 m does not make too much difference during the simulations: they are few, and their lambda_p is really low.

Anyway, I'll write Alberto Martilli asking him about this issue

[2021-04-26 11:13] dargueso commented on #8
As far as I understand, GREENFRAC is used for the non-urban portion of the cell.

The model outcome for a urban cell is a weighted average using URB_FRAC. SLUCM (or other UCM, I guess) passes information to NOAH-LSM and the PBL scheme. Both NOAH-LSM and PBL provide two solutions (urban and non-urban, based on the information passed on by the UC) and compute the weighted average based on URB_FRAC.

[2021-04-26 11:20] matthiasdemuzere commented on #8
Mmm ... interesting.

So in our case of 90% urban and 10% non-urban:

- if GREENFRAC is eg. 50% for that cell, then only 5% of the full grid cell is considered covered by a green fraction (whatever that may be ... grass, trees, ...)?
-  so what is the 5% remaining cover then?

Sorry for all these questions, I am just trying to understand WRF and its LSMs better ....

[2021-04-26 11:34] dargueso commented on #8
This is part of how NOAH-LSM deals with vegetation cover. The portion that is not vegetated is treated as bare, using soil properties, which depend on the soil type and soil state, to compute the fluxes.

[2021-04-26 13:41] matthiasdemuzere commented on #6
@andreazonato

I have implemented this routine now, but upon inspection, I have noticed that the sum across index 118 to 132 often does not add up to 100%. Which in my opinion makes sense, as the aggregation is done over 10 x 10 pixels, many of which - especially around the edges of the urban center - will have no buildings, and thus, the aggregation will very often result in values < 100%.

This

[2021-04-26 14:02] andreazonato commented on #6
Those are great observations.

In my paper, I did the scaling, in order to have always 100% of Height histograms. As you pointed out, it is even a feedback for a good aggregation. So in my opinion, the scaling is the best method to calculate the height histograms (HI_URB2D).

The issue about the urban extent indicator is really delicate, and we should put a lot of attention to it.

What I did in m

[2021-04-26 14:42] dargueso commented on #6
LU_INDEX has preference over FRC_URB2D in the code, so the model first checks LU_INDEX to trigger the Urban Canopy Model. If LU_INDEX is not an urban category, it won't care about the urban fraction. Another question is whether you want to keep it clean to avoid any confusing by the user, but is not a problem for the model.

[2021-04-26 14:46] matthiasdemuzere commented on #6
Ha, ok. This is good to know.

Then I'd prefer to set FRC_URB2D == 0, where LU_INDEX not in [ 30 - 41], so that users are not confused in case they check the underlying fields ...

Perhaps I can try to have this feature with a flag (on by default), so that one could still get the original values if wanted ....

[2021-04-26 15:00] andreazonato commented on #6
Actually, the point is that if you put FRC_URB==0 where there are no LCZs (through the majority value), you will loose all the advantages of the aggregation method in the boundaries of the city. In my opinion, it would be better first to calculate the FRC_URB2D (accounting for both the UCZ/(total LCZ) ratio and the fraction of each UCZ), and then put a threshold on the FRC_URB2D. Once FRC_URB2D is

[2021-04-26 15:22] matthiasdemuzere commented on #6
mmm ...

As I see it, both have trade-offs.

From an aggregated pixel resolution point of view:
- I believe the FRC_URB2D values are correct, presenting the average impervious area for a pixel.
- the LCZ majority setting is more complex:
       1. Neglecting natural LCZs when taking the majority will artificially increase the urban extent, as you can have a grid cell with 70% LCZ A (forest), 10% L

[2021-04-26 15:31] andreazonato commented on #6
<if a pixel is only considered urban when LU_INDEX in [30 - 41], AND...
Do you mean using the majority value?

I think FRC_URB2D (calculated considering even The rural LCZ) should be the indicator of the urban extent. It does not matter if a pixel is URBAN [30 -41] even if the FRC_URB2D is 0.3. In this case, the rural part is treated separately in the land-surface scheme, while the urban part (eve

[2021-04-26 18:50] matthiasdemuzere commented on #6
Yes.

In a way, this 0.2 threshold is rather arbitrary, no? Can't we just keep all FRC_URB, so the full range between 0 and 1?

Ha, ... ok. Now I understand. Note that only LCZs 1-9 refer to the UCZs defined by Oke in 2004 (just a detail).

![image](https://user-images.githubusercontent.com/6926916/116135165-11af2a00-a6d1-11eb-8d04-537b2910b39a.png)

[2021-04-26 18:51] matthiasdemuzere commented on #6
But from all the above, I think it is clear what needs to be done ... arrghh .. and I thought I was almost there ... not yet.

[2021-04-27 08:56] andreazonato commented on #6
Yes, the value is arbitrary. And now I try to explain you why we cannot keep the full range. The issue is really delicate, as you noticed.

Let's say we have a pixel with 0.01 of FRC_URB2D, LCZ 2. The rest (99.99) is vegetation, let's say croplands.
So, since here there is a bit of urban surface, and LU_INDEX=32, WRF will treat it as urban: it will call the urban scheme for the 0.01, and the land-

[2021-04-27 12:08] andreazonato commented on #6
Ok, I got to a conclusion, that will cost us really low effort in terms of coding.

I would create a new field into the WPS, lets call it LU_INDEX_NOURBAN. It takes the values of whatever database for the vegetation landuse. I will make it read by WRF in the initialization process, and I'll assign to the cells with FRC_URB2D>0 this value. In case these cells are URBAN even for the not-LCZ database

[2021-04-27 12:40] matthiasdemuzere commented on #6
Thanks for your thoughts @andreazonato.

To be honest, I am a bit reluctant to change anything into WRF or WPS. I mean, our idea was to simplify the original WUDAPT-to-WRF package, but this seems to go way beyond this.

As I see it, WRF should not treat vegetation as urban vegetation (forests??) whenever FRC_URB2D > 0. It should treat it as an independent natural fraction that can have different v

[2021-04-27 13:52] matthiasdemuzere commented on #6
Ok, so based on the discussion above, I'll suggest to do the following.

- For the urban extent, with LU_INDEX = 13, and to be used in Exp. B.

1. Mask the natural LCZs
2. Perform majority filtering
3. Put urban LCZs as 13 in LU_INDEX

- For Exp. C, integrating all other LCZ information

1. Same as for Exp. B, but now put LCZ classes in LU_INDEX, as 30 to 41.
2. Obtain FRC_URB by aggregation of hi

[2021-04-27 14:06] andreazonato commented on #6
Yes, I agree with you about this scheme.

Regarding the new field:

I'm trying to make this thing as simple as possible. We can proceed with the threshold of FRC_URB2D>0.2, and then we can try with an additional field  in order to use all the FRC_URB2D (0 to 1). If we notice substantial differences we can proceed implementing the addittional field, if not we can keep with the threshold.

Do you ag

[2021-04-27 15:16] matthiasdemuzere commented on #6
Here is a comparison between LU_INDEX = 13, derived from:
- left: majority LCZ WITHOUT masking natural LCZs beforehand
- right: majority LCZ WITH masking natural LCZs beforehand

The difference is huge. About ~4x more pixels are urban in the latter case.

For now I will continue along this track, as I understood FRC_URB is the decisive parameter to say what is urban and what is not, no? @andreazon

[2021-04-27 15:33] dargueso commented on #6
Hi guys,
I'm sorry I have slightly stepped aside in this discussion, but I don't have much to add. Most of the choices seem to be compromises and I understand the various options are valid, but I don't really have a strong reason to argue for one or the other, so I leave it you guys.

I do feel that the right hand side map shows a too large number of urban pixels, but I can't say which one is clos

[2021-04-28 09:18] andreazonato commented on #6
Hi guys...

Yeah, that's true. Merging LCZ with WRF is really complicated and we have to find compromises...

In my opinion. for the exp. B), LCZ should be calculated with the majority values INCLUDING the rural areas. That's the standard way, and with exp C) we want to demonstrate that the aggregation method works better.

Regarding the exp C):

I would use the threshold FRC_URB2D>0.2 first. That

[2021-04-28 09:48] matthiasdemuzere commented on #6
I disagree. The goal of C. is to look into the added values of the intra-urban heterogeneity, only. As such, the urban extent covered by urban areas should be the same in Exp. B. and C.

I keep working on what I do now:
1. FRC_URB is obtained via aggregation
2. Filtered for values < 0
3. Remaining pixels with FRC_URB > 0 (so 0.2 in our case) are used to define the urban extent
4. LCZ is majority f

[2021-04-28 10:03] andreazonato commented on #6
Yes, this is something that requires a little modification to the WRF code. I actually wanted to take advantage of this work, to test the modification i just did, but if it goes beyond the goal of this work, it does not matter.

Actually the main developer of these modifications, it's me, so for this reason I'm pushing in this direction to try this new modification, in order to put this in a futur

[2021-04-28 10:10] matthiasdemuzere commented on #6
Ok, let's see what @dargueso has to say about an additional simulation. If ok, we can discuss further would should be addressed in my code developments as well ...

But for now, I'd like to get the basis for Exp. B and C done. I am spending way much more time on this as I originally thought / have available ....

[2021-04-28 13:15] matthiasdemuzere opened #11 "second version w2w"
Hi @dargueso and @andreazonato,

I consider my second version of the tool ready.

All that was discussed in other Issue channels has been incorporated.
This new version now also includes HI_URB2D, which - if I understand well - would make the file ready for the other urban parameterizations.

I have added the outputs again in my [Google Drive folder (w2w_v2)](https://drive.google.com/drive/folders

[2021-04-28 13:46] dargueso commented on #6
Hi,

In my opinion, the priority should be getting all 3 original experiments done, with the goal of understanding the impact of urban heterogeneity on precipitation.

Since this idea stems partly from the experiments we did for Li et al. 2020 GRL, it'll be nice to make them as similar as possible to those. We should also remember that we are not going to perform any model evaluation (we don't hav

[2021-04-28 14:21] matthiasdemuzere commented on #6
Hi @dargueso,

Thanks for your reflection. I did not realize this side-project would consume CPU time from another project. Hopefully not too much.

But I agree.  Let's get this done, and see where the results lead us.
On the evaluation: if results look intriguing, but could try to see what we get out of the [GPM IMERG rainfall product (0.1x0.1° spatial resolution, available half-hourly)](https://

[2021-04-28 14:50] dargueso commented on #6
Hi @matthiasdemuzere,
Oh, no, don't take me wrong. I made the decision to merge them to reduce the workload when applying for CPU time and also my estimations turned out to be a bit optimistic! Nothing to worry about, just a matter of prioritising :)
I'll check the outputs with the tool tomorrow morning, and will let you know.

[2021-04-30 07:08] dargueso commented on #11
Hi,
I run the tool yesterday, inspected the output files and found them perfect. I couldn't spot any error or inconsistency in the files. Shall I move forward and start exp. B then?
I can also start preparing exp C, I guess, but I need assistance from @andreazonato. Is there anything I need to do when preparing the boundary conditions or the changes are to be made only when running the model?
Than

[2021-04-30 07:16] andreazonato commented on #11
Hi @dargueso,

You have to do nothing, WRF is able to do it by itself. The only thing I suggest you is to modify the Registry.EM_COMMON (or to give as output in the namelist) the following variables:

state    real   LP_URB2D       ij       misc      1        -     i0  "BUILD_AREA_FRACTION" "BUILDING PLAN AREA DENSITY"   "dimensionless"
state    real   HI_URB2D       i{uhi}j  misc      1        Z

[2021-04-30 07:16] matthiasdemuzere commented on #11
This is great news @dargueso. Thanks for checking. For me its fine to launch Exp. B, and start preparing for Exp. C.

The only thing I wanted to check perhaps are the values for the other urban parameters provided in URBPARM_LCZ.TBL.

@andreazonato: to be sure. Values that are already defined in URB_PARAM, will not be used from the look-up table, correct?

[2021-04-30 07:21] andreazonato commented on #11
That's correct!

[2021-04-30 10:11] dargueso commented on #11
Hi
@andreazonato thanks for the indications, I will generate the inputs and let you know. I can send you the files for you to check. thanks!

@matthiasdemuzere I've been comparing your geo_em.d02_NoUrban.nc with mine and GREENFRAC is slightly different between them because in my case I didn't change GREENFRAC. This is not a problem, because GREENFRAC is homogenised in the urban areas anyway. I sti

[2021-05-05 09:32] dargueso opened #12 "Status of simulations"
The current status of the experiments is:

NoUrban (natural landscape): running 75% complete - all boundary conditions generated
LCZ extent (no city heterogeneity): running 10% complete - all boundary conditions generated
LCZ param (city heterogeneity): not running yet - boundary conditions to be generated.

I will send the LCZ param experiment boundary conditions to @andreazonato as soon as possi

[2021-05-05 18:19] matthiasdemuzere commented on #12
Thanks for the update @dargueso. Nice to see Exp. B is now also up and running ...

I still would like to check the PARAM.LCZ.TBL for Exp. C., to see the values that are used in there. I will try to do so tomorrow, I hope I don't forget.

[2021-05-06 08:00] dargueso commented on #12
I can't get the Boundary conditions done with the geo_em.d02_LCZ_params.nc file. There seem to be a field that WPS cannot properly read. I'm still trying to figure out what's wrong.

[2021-05-06 09:29] matthiasdemuzere commented on #12
Ha, that's too bad. Please let me know if I can be of help / need to change something in my conversion script ...

[2021-05-06 14:07] dargueso commented on #11
I bring the issue with the geo_em file here, since it is related to the w2w tool. I have solved the problem and it is related to the attributes of either GREENFRAC, LANDUSEF, LU_INDEX. I haven't tested them individually, but I think it is related to _FillValue taking a different value.

I have taken GREENFRAC, LANDUSEF and LU_INDEX values from your netCDF file (not the attributes) and rewritten to

[2021-05-06 14:35] matthiasdemuzere commented on #11
Are you now talking about the input for Exp. B (*_LCZ_extent.nc) or Exp. C (*_LCZ_params.nc)?

For Exp. C, the file is much bigger as it includes the 3D URB_PARAM field, which contains a lot of additional urban parameters needed to run with the LCZ information.

I would be surprised that the reason for not working is located in GREENFRAC, LANDUSEF and LU_INDEX?
The reason: The Exp. B file is creat

[2021-05-06 16:28] dargueso commented on #11
Ah! Ok. Now I see.

The problem is with Exp C. ( _LCZ_params.nc). I was checking differences in variables in both files, because I assumed at this stage those variables were the same. When I add the two new variables URB_FRC2D and URB_PARAM (the file size obviously matches yours) but I get a different error. My guess is that WPS -metgrid.exe for this purpose- is not expecting those variables. @and

[2021-05-07 07:51] andreazonato commented on #11
@dargueso ,
First thing, the name of the variable is FRC_URB2D. Is it correct in @matthiasdemuzere 's code or not? I guess yes, you probably typed it wrong.

Anyway, I tnink the problem is not on the new two variables. Megrid takes all the variables in the geo_em, no matter the number of the kind of the variables. There can be some errors in the attributes. Could you please share the error with me

[2021-05-07 08:02] andreazonato commented on #11
Some general observations, that can find the source of the problem:
![Screenshot (6)](https://user-images.githubusercontent.com/49075918/117417721-efac7780-af1a-11eb-8608-e3e5866151d6.png)
That's how the variable URB_PARAM should result inside the geo_em*, along with the flag FLAG_URB_PARAMS=1, as here:
![Screenshot (7)](https://user-images.githubusercontent.com/49075918/117417879-15d21780-af1b-11

[2021-05-07 08:47] matthiasdemuzere commented on #11
Thanks for checking @andreazonato. So I basically have to check:

- Definition sr_x and sr_y? Seems to refer to wrong type of these variables
- include FLAG_URB_PARAMS=1 in the global attributes? This is something I did not know about, I will check.

Anything else?

[2021-05-07 08:50] dargueso commented on #11
Thanks @andreazonato

Yes, FRC_URB2D is OK, I just mistyped it here.

@matthiasdemuzere, wait before implementing those changes, I'm currently modifying the files to see if that works of if anything else is needed.

It won't take long.

[2021-05-07 08:53] matthiasdemuzere commented on #11
Ok, thanks @dargueso. I'll wait ...

@andreazonato: I was looking for your example geo_em*.nc file which has the URB_PARAM fields etc, but I can not find it anymore? Is it on github? If not, could you send it again?

[2021-05-07 09:04] andreazonato commented on #11
I just updated the geo_em.d04.nc in the main directory here. @matthiasdemuzere, I think it is all what you need to add over there.
I had a look and actually metgrid reads sr_x and sr_y, so probably that's part of the issue. Moreover, FLAG_URB_PARAM is not used YET in the WRF code (just checked), but better to put it on the geo_em files.

[2021-05-07 09:10] matthiasdemuzere commented on #11
Ok, so that would reduce the issue to the data type of URB_PARAM? Let me know how you go @dargueso. If you get something working, I can implement the changes in the w2w tool ...

[2021-05-07 09:23] dargueso commented on #11
I've made a few changes, also I've set the num_land_cat was to 41 in the attributes. I've tried both with and without

                :FLAG_IMPERV = 1 ;
                :FLAG_CANFRA = 1 ;
                :FLAG_EROD = 1 ;
                :FLAG_CLAYFRAC = 1 ;
                :FLAG_SANDFRAC = 1 ;

but I still get an error when processing domain2 with metgrid.exe:

Processing domain 1 of 2
 Processin

[2021-05-07 09:42] dargueso commented on #11
I don't know what else could be. I've tried a few things, but still get the same error.
I just noticed that your sample file does not have the FRC_URB2D variable. I've removed it from our file, just to check but the error persists.
I will be keep trying to understand what the problem is, but if you have any ideas, more than happy to hear them.

[2021-05-07 09:49] matthiasdemuzere commented on #11
Mmmm ... I assume it is not possible to re-compile metgrid.exe after adding print statements to find out exactly where the code fails? The error you get does not seem to help us really?

[2021-05-07 09:56] andreazonato commented on #11
It is an issue with the URB_PARAM matrix, of course. It should be some of the attribute, or even the fact that it is double instead of float.

[2021-05-07 10:18] matthiasdemuzere commented on #11
@dargueso: could you try [this one](https://drive.google.com/file/d/10J6Fot35U66atI1wPHWseP8xB93AKAER/view?usp=sharing)? I just set URB_PARAM from float64 to float32, as in the example file of @andreazonato ....

[2021-05-07 10:21] dargueso commented on #11
I'm going to try that one. I just saw that Times is also different in the original/LCZ_extend and the LCZ_params files, so that may be causing problems too. Also the dimension land_cat should be changed to 41.  I'll try your file and if it doesn't work, I'll fix the issues with Times and dimensions.

[2021-05-07 10:24] dargueso commented on #11
Just saw the variable that use the land_cat dimension in @andreazonato'file. It is LANDUSEF and the attribute says "Noah-modified 41-category IGBP-MODIS landuse". It has LANDUSEF for each of the 41 categories. Ours has 21 for each of our 21 categories, with is the typical LANDUSEF without LCZs. Perhaps that could cause problems too. I'll see.

[2021-05-07 10:28] matthiasdemuzere commented on #11
I have been checking a few items as well, using @andreazonato his example file.

As you pointed out, the example file also has the following global attributes (which I do not have):
FLAG_SANDFRAC: 1
FLAG_IMPERV: 1
FLAG_CLAYFRAC: 1
FLAG_CANFRA: 1
FLAG_URB_PARAM: 1
FLAG_EROD: 1

Yet I would be surprised if these are causing the error?

I am surprised though that Times is different between LCZ_extend

[2021-05-07 10:34] matthiasdemuzere commented on #11
For clarity, see below all global attributes and their values for the example file (REF) and our new file (NEW).

Of course there are differences for all grid variables. Yet there are some others as well, for which I do not know whether they are important? Eg.:

**MAP_PROJ**:
 REF: 1
 NEW: 3

**NUM_LAND_CAT**: < -- already reported
 REF: 41
 NEW: 21

ISLAKE:
 REF: -1
 NEW: 21

grid_id:
 REF: 4
 NE

[2021-05-07 11:07] dargueso commented on #11
I'm using the latest version of your files, @matthiasdemuzere. Times variables are fine in your latest version, it looks like in the process of change some of the variables, "Times" was changed too. But still, after modifying all we've talked about, metgrid.exe crashes, albeit with a slightly different error.

My guess now is that the error is related to num_cat_land, the dimension with that name

[2021-05-07 11:28] matthiasdemuzere commented on #11
In [this file](https://drive.google.com/file/d/1cc4Z6hakINHg87yjwgVCvq5-rFTPlfsG/view?usp=sharing) I just changed NUM_CAT_LAND to 41, instead of 21.

[2021-05-07 11:34] matthiasdemuzere commented on #11
Related to LU_INDEX and LANDUSEF.

LU_INDEX ranges from 1 to 41 (well 39 in our case, no LCZs 10 and 15).
LANDUSEF has only 21 dimensions: (1, **21**, 320, 330)

I checked in the example file:
There indeed LANDUSEF has 41 levels: (1, **41**, 108, 84)

So I guess I need to make LANDUSEF consistent with LU_INDEX, having 1's in LANDUSE_F that correspond to the LU_INDEX values. Let me also adjust this

[2021-05-07 11:36] dargueso commented on #11
Yep, I'm working on that already. Making LANDUSEF and LU_INDEX consistent.

[2021-05-07 11:40] matthiasdemuzere commented on #11
Ok!

[2021-05-07 11:42] matthiasdemuzere commented on #11
@andreazonato: I am confused again, so I just wanted to double check.

The LCZ classes in LU_INDEX are set as 30 to 40, or to 41?

Since 30 to (including) 41 are 12 classes, while there should only be 11 LCZ Classes (original names 1-10 and 15)?

[2021-05-07 12:29] dargueso commented on #11
Damn! Made it, it went through at least. I haven't checked much the results.

FRC_URB2D must be removed. That was the main issue. metgrid.exe doesn't know how to interpret it. Not sure if because of the variable itself or because the lack of attributes. @andreazonato doesn't have that variable in it. Do we need it?

For it to work, a few other parameters must be adapted to make it consistent betwe

[2021-05-07 12:38] matthiasdemuzere commented on #11
Alright. Good step forward. Great.

Strange FRC_URB2D has to be removed. I remember @andreazonato stating this one is required? So let's see what he has to say about that. And in a way this is a critical variable, as this one decided the urban (and thus LCZ) fraction/coverage?

Also clarifying the exact LCZ LU_INDEX numbers (see earlier comment here) would be good.

Once that is clear, I can try t

[2021-05-07 12:41] andreazonato commented on #11
Yes, that's wrong! LCZ 1 start with number 31...until class 41 that is what I defined as asphalt! Moreover, regarding LANDUSEF and LU_INDEX, even if we have just up to LCZ=39,  num_land cat and the maximum number of LANDUSEF should be 411 (related to some lookup tables)

[2021-05-07 12:42] andreazonato commented on #11
float FRC_URB2D(Time, south_north, west_east) ;
                FRC_URB2D:FieldType = 104 ;
                FRC_URB2D:MemoryOrder = "XY " ;
                FRC_URB2D:units = "-" ;
                FRC_URB2D:description = "ufrac" ;
                FRC_URB2D:stagger = "M" ;
                FRC_URB2D:sr_x = 1 ;
                FRC_URB2D:sr_y = 1 ;

That's how attributes should be defined for FRC_URB2D

[2021-05-07 12:49] matthiasdemuzere commented on #11
Ok, let me try to address all of the above.

@dargueso: once I am done, I will let you know and then you can test this new file again?

[2021-05-07 13:18] matthiasdemuzere commented on #11
@andreazonato: for the Exp. B. file, where urban is denoted with LU_INDEX == 13, I assume NUM_LAND_CAT should be back to 21?

Any other attributes that need to be changed back? Eg. FLAG_URB_PARAM? Or something else?

[2021-05-07 13:33] andreazonato commented on #11
For Exp B), it does not matter NUM_LAND_CAT. Since LCZ are not read, it is the same. THE FLAG_URB_PARAM too, is not used by WRF. But probably better to put it in w2w.py, since FLAG_URB_PARAM can appear in the next releases.

[2021-05-07 13:36] matthiasdemuzere commented on #11
Ok if I set FLAG_URB_PARAM = 0 then? Or better remove?

Also, I assume LANDUSEF should have old dimensions again? (1, **21**, x, y)? Correct @andreazonato

[2021-05-07 13:40] andreazonato commented on #11
In my opinion, for exp B) FLAG_URB_PARAM=0 and for exp c) FLAG_URB_PARAM=1. And yes, LANDUSEF should always follow num_land_cat, so 21 for exp B)

[2021-05-07 14:35] matthiasdemuzere commented on #11
@dargueso @andreazonato

I just created new files, see folder w2w_v3 [here](https://drive.google.com/drive/folders/15QsWRCxFEjZ7fo3C6iP9vqISPr5uw6l1?usp=sharing).

What changes?

**lcz_extent:**

- LANDUSEF: 21 classes, with 1 for the urban
- FLAG_URB_PARAM=0
- NUM_LAND_CAT = 21

**lcz_param:**

- LCZ class numbers from 31 to 41 (included)
- LANDUSEF: 41 classes, with 1's for LCZ classes
- provide

[2021-05-07 14:58] dargueso commented on #11
Thanks, @matthiasdemuzere

Unfortunately, it still throws an error, even when removing FRC_URB2D. I also tried fixing FieldType that looked like 104L and it's 104 in my file. Also, the global attributes included a few entries that are in @andreazonato's files but are not needed in our case (I believe): FLAG_SANDFRAC, FLAG_IMPERV, FLAG_CLAYFRAC, FLAG_EROD, FLAG_CANFRA

Other than that, I don't find

[2021-05-07 15:07] dargueso commented on #11
Indeed! I've uploaded it there. It's called geo_em.d02.working.nc, not the best naming...

[2021-05-07 16:32] dargueso commented on #11
@matthiasdemuzere I've taken FRC_URB2D from your file and added to mine, modified FieldType to 104, and metgrid.exe works fine. So the problem must be somewhere else.

I have added this new file to the folder. The name is geo_em.d02.AllFields_working.nc

[2021-05-07 19:50] matthiasdemuzere commented on #11
ok.

So I fixed the datatype for 104 in FRC_URB2D. That is fine now.

The only major difference I noticed is that LANDUSEF was double instead of float in my version. So this is now also fixed.
I can't image that these few other global attributes would make metgrid crash? So for now I have kept them.

I have uploaded this new file to folder **w2w_v4**. Please have a look. Fingers crossed this works

[2021-05-07 19:58] matthiasdemuzere commented on #11
@andreazonato

While exploring differences between your example file and my own file, I also noticed that the following fields are different (present in yours yet not in mine or vice versa). I am just listing them here, to see later whether these will be an issue or not.

In your dimensions:
	dust_erosion_dimension = 3 ;
	soilcomp = 8 ;

In your variables:

LAKE_DEPTH
IMPERV
CANFRA
EROD
CLAYFRAC
S

[2021-05-09 09:51] andreazonato commented on #11
@matthiasdemuzere,

These variables arises from a my attempt to run WRF with additional soil information. They are not linked to the urban scheme and they are not used, so of course this is not the source of the problem.

[2021-05-09 17:39] dargueso commented on #11
@matthiasdemuzere, this new version worked without needing any additional modification, so great news!
I haven't checked the outputs, so I can just confirm it goes through. I will make a sample set of boundary conditions that @andreazonato and me can inspect. You're welcome to have look too, if you want to.

[2021-05-09 17:43] dargueso commented on #12
As I commented at the beginning, one the issues with running these experiments is the storage. We're running very low right now here at our department. I can optimise the outputs by deleting all files for domain 1, which we're not interested in (in principle). We can keep them for one of the experiments only, since they should be exactly the same, at least in terms of their configuration - domain2

[2021-05-09 18:58] matthiasdemuzere commented on #12
Sounds like a good strategy to me!

[2021-05-09 19:00] matthiasdemuzere commented on #11
Yes, that is nice indeed. Great.

I can check the outputs again in more detail tomorrow.
I will then also check the parameter table. I did not manage past Friday due to these annoying datatype errors ...

[2021-05-09 19:12] andreazonato commented on #11
That's a great result @dargueso ! Wonderful the code worked without any further modification @matthiasdemuzere. Once the wrfinput is ready, please share it with me so I can check if it it ok for running a simulation.

Enjoy the night!

[2021-05-09 20:43] dargueso commented on #11
metgrid.exe went fine without any modifications, but in order to make the boundary conditions with real.exe, I had to expand LANDUSEF in geo_em.d01.nc so it is consistent with geo_em.d02.nc. They both must have 41 levels (one per land category). I also modified the global attribute  NUM_LAND_CAT to 41 in geo_em.d01.nc, although not sure that is necessary. This tweak must be added to the tool, I gu

[2021-05-10 09:17] matthiasdemuzere commented on #11
Ha, that is good to know, although I am a bit surprised? So whilst creating boundary conditions for the highest-res domain, also information from the parent domain is still used? Do I understand this correct @dargueso?

I can of course try to add this info to the geo_em.d01.nc file.

Some questions to make sure I do it right:
- can you add this d01 file to my drive?
- so LANDUSEF should have 41 cl

[2021-05-10 09:18] matthiasdemuzere commented on #11
@andreazonato:

Ok, thanks for clarifying. I will leave these out then.

[2021-05-10 09:34] dargueso commented on #11
Not exactly. In the namelist, you have to specify  num_land_cat and, AFAIK it only takes one entry. So you need to specify the same for both domains (41). If domain 1 has incorrect land_cat dimension length (21), which is used by LANDUSEF, then it crashes. But I just expanded LANDUSEF from 21 to 41 with zeros.

I'll add this d01 file to your GD.

The way I did it: LANDUSEF has length 41 along land

[2021-05-10 09:46] matthiasdemuzere opened #13 "Naturel landcover script"
Hi @dargueso,

I am cleaning up my script a bit, and it would be nice if I could convert the wrf_remove_urban function, which I took from your original script, into something that uses xarray instead of netCDF4. That would make everything more consistent.

Are you familiar with xarray? If so, could you try to convert this routine?
If not, I can try myself, although I am not sure what exactly is ha

[2021-05-10 10:20] matthiasdemuzere opened #14 "values URBPARAM_LCZ.TBL"
@andreazonato:

I have been looking a bit into the values designated to all parameters.
It is clear that many of these parameters are not reported in any of Stewarts previous works, so a best-guess has to be made.

Yet I do wonder about some, eg:
- AHF for LCZ 11 (15): set to 350Wm2 by default (same as for Heavy Industry). Since this class reflects paved areas (eg. parking lots), I would rather se

[2021-05-10 11:02] matthiasdemuzere commented on #11
@dargueso: perhaps you can add the original d01 also to my drive? So I can touch this one using w2w.

In order to make this generic, one more question.

Is this change required only for the parent domain of the final domain? Or for all parent domains in case there are more nesting steps? Eg. Andrea his sample file was d04, so would this change then be required for d01 to d03?

Have to think a bit

[2021-05-10 11:58] andreazonato commented on #11
As @dargueso said,  the resolution of domain 1) does not require additional information since city heterogeneity is not resolved. Anyway, for all the domains NUM_LAND_CAT should be the same, so it should  be 41 even in the domain 1). For the rest, I think additional modifications are not required in this domain.

[2021-05-10 16:07] dargueso commented on #11
Just to clarify. We need to change the dimensions of LANDUSEF so the boundary conditions can be created. I also changed the global attribute NUM_LAND_CAT for consistency, but that may not be necessary. I think that even if it isn't necessary, it should be updated to reflect LANDUSEF dimensions.

Yes, we need to modify that in ALL domains. Your approach with a warning is fine.

[2021-05-10 16:13] dargueso commented on #11
I've uploaded the original geo_em.d01.nc file to your GD.

[2021-05-11 11:30] matthiasdemuzere commented on #13
This is great, thanks

Ok. So what exactly does a greenfrac value for a pixel now mean? Is is the average greenfrac value over all pixels that were sampled from a natural class being the majority in your 45pixel buffer? Or just the mean over all natural pixels in that buffer?

Great.

Ok, so this is fixed now? Or how do you take this into account?

I agree. I don't think it matters too much for ou

[2021-05-11 11:30] matthiasdemuzere commented on #13
I just re-formatted your code a bit (avoiding long lines), and will try this out. If it works, I'll push these small changes back.

[2021-05-11 14:08] dargueso commented on #13
Yes! You can find them in @matthiasdemuzere [GD ](https://drive.google.com/drive/folders/15QsWRCxFEjZ7fo3C6iP9vqISPr5uw6l1).

[2021-05-11 14:11] matthiasdemuzere commented on #14
I can adjust the parameter values based on the values from published works. Does this mean that this new "default" table would make it then to the official WRF release?

And of course I agree, if people have better values for their city, they should use them. Yet better to have the default really as the default. This makes sense for our KL case already, as we have no other reference values, so bet

[2021-05-11 14:16] andreazonato commented on #14
The WRF version have been released something like 18 hours ago...I do not think it is possible to substitute it now, but I can ask them... However, once you will release the new tool, we can add the "default" table so people can use it in a sort of "standard" way, even if we know there is no a standard for all the cities in the world...

[2021-05-11 14:23] matthiasdemuzere commented on #14
yeah, but the thing is they would need to copy this table to the appriopriate WRF folder manually, no?
So ideally a small push to this new release would be ideal? I assume [this](https://github.com/wrf-model/WRF/releases) is the repo, no?

Otherwise I am afraid that this "default table" would go unused if it's just embedded within our w2w routine?

[2021-05-11 14:35] andreazonato commented on #14
Yes, It is as you say. I'm writing an NCAR developer to fix the issue.

[2021-05-11 15:46] andreazonato commented on #13
That's great! Everything is fine! You should be able to run the
simulation...

Il giorno mar 11 mag 2021 alle ore 17:37 Daniel Argüeso <
***@***.***> ha scritto:

[2021-05-19 09:46] dargueso commented on #13
I'm struggling to get exp C running. WRF is crashing without giving any error, which is not surprising in WRF anyway. I'm trying to figure out what is causing the error with high level debugging level, but haven't come up with a lead. So far, the last message by WRF is related to  the generation of HALO stuff, but it doesn't necessarily mean the problem is there. I'll keep you posted.

PD: I'm usi

[2021-05-19 12:19] andreazonato commented on #13
@dargueso, after how much time it stops? before or after some time-step?

[2021-05-19 12:50] dargueso commented on #13
@matthiasdemuzere, don't worry. I'll try to figure out what's going on, perhaps with @andreazonato's help.
@andreazonato, before any time-step, so the model itself doesn't actually get to run. It dies in the initialisation. I'm going to try run it locally, just to make sure it is not an issue with the compilation in the supercomputer, since I had to recompile it using your version.

[2021-05-19 14:04] dargueso commented on #11
@matthiasdemuzere I have checked the file and, as far as I can tell, it is the same as I generated.

[2021-05-19 14:05] matthiasdemuzere commented on #11
Ok, great. So then this is fine!

[2021-05-19 14:08] andreazonato commented on #13
did you set num_land_cat=41 in the namelist? Should be a problem of this kind...

[2021-05-19 14:10] dargueso commented on #13
Yep, otherwise the model complains with that message. Let see how it goes with the serial version locally.

[2021-05-19 14:37] dargueso commented on #13
Running in serial I get this error:
d02 2015-12-22_00:00:00 in NOAH DRV
-------------- FATAL CALLED ---------------
FATAL CALLED FROM FILE:  <stdin>  LINE:     774
ZDC + Z0C + 2m is larger than the 1st WRF level - Stop in subroutine urban - change ZDC and Z0C

I asume is related to urban LCZ parameters, but not sure. Can I get your help here?

[2021-05-19 14:51] matthiasdemuzere commented on #13
without knowing WRF. Seems the few high buildings in our domain are intersecting with a low lowest WRF level (in the vertical)? So perhaps the height of the levels should be re-defined?

Just my two cents, @andreazonato will be better positioned to clarify this ....

[2021-05-19 14:55] andreazonato commented on #13
I think it can be something like this. Actually I'm not an expert of the
SLUCM, i used to use BEP+BEM.
While BEP+BEM levels can be "subgrid" within WRF, the first WRF level
should always include all the city. So it can be as you say @Matthias
Demuzere ***@***.***> !

Il giorno mer 19 mag 2021 alle ore 16:52 Matthias Demuzere <
***@***.***> ha scritto:

[2021-05-19 17:26] matthiasdemuzere commented on #13
This solution would of course go against the main aim of our exercise, that is to address the added value of better and more explicit parameters.

How is the height of the model layers set in WRF? And what is the lowest height? Is this information also embedded into the boundary conditions, and are thus already in the parent domain?

What we could to:
- re-make a test geom_em file, with indeed low

[2021-05-20 07:16] dargueso commented on #13
Yes, I agree with you. I was just wondering if there are ways of modifying it but keeping the city heterogeneity. Thinking about that, I realised it doesn't make much sense.

The model layers in WRF can be defined automatically by the model or you can explicit them. But pushing the first level above the tallest building may be too high depending on the city. The model layers can be defined through

[2021-05-20 07:28] matthiasdemuzere commented on #13
Ha, yes, you are right ... If we change the scheme in Exp. C, then Exp. B becomes useless. That is of course also not good.

Ok, then ideally we can change the model levels a bit?
Yet to make sure that my bug fix suggestion works, before you start doing your work, should I not first make a new geom_em with lower building heights?

Any idea what the height of the lowest layer currently is?

The max

[2021-05-20 08:44] dargueso commented on #13
The first WRF level is roughly at 26 m AGL. We would have to double that, which will have some effects on the results...Shall I go with that option?
The second level is at ~85m

[2021-05-20 08:50] dargueso commented on #13
Models are quite sensitive to the location of the first level, so I would personally avoid that option. @andreazonato, how involved is switching from SLUCM to BEP+BEM? Do we need to make too many additional steps or is it straightforward by just changing namelist options?

[2021-05-20 08:51] matthiasdemuzere commented on #13
That is low indeed. But was probably never an issue before, as - if I am not mistaken - the default value used in WRF is 7.5m for urban pixels?

Not sure what the best option would be here. If we change the lowest level, results for Exp. C. might in any case be different with Exp. C. because of this?

Should I first make a boundary file with max BH of e.g. 20m, to see whether this is really causin

[2021-05-20 08:53] dargueso commented on #13
Whatever you prefer, I can also push the lowest level up and see how it goes.

[2021-05-20 08:57] andreazonato commented on #13
Dear all, sorry, pretty busy today, I'll have a look to your replies
tomorrow.

Anyway, smoothing a bit the height of tallest buildings in my opinion will
maintain the heterogeneity the same,without increasing the first vertical
level. It will affect just the cells with higher buildings. Switching to
bep+bem means simply to change the namelist. And I'm more used to bep bem
so I can help more. You

[2021-05-21 09:33] dargueso commented on #13
I've tried using BEP+BEM and it works, but it requires additional changes in the PBL scheme and Surface Layer Scheme. I imagine this is because BEP+BEM cannot work with a non-local scheme, and I would assume this may also partly explain why BEP+BEM works with buildings above the first level, as opposed to SLUCM.

Anyway, this is not a feasible option then, because we cannot compare with the natura

[2021-05-21 09:37] andreazonato commented on #13
BEP+BEM, in the new version, can now work with YSU (if you are using it). you should simply download the latest WRF version, and there there is the coupling. In my opinion, smoothing a bit the highest buildings can be an option, as trying the BEP+BEM in the new WRF version

[2021-05-21 09:43] dargueso commented on #13
I'm using v4.2.2. I think I'm using the modified version in the repository that has your changes to use WUDAPT. I've seen that v4.3 was released 10 days ago, which now allows BEP+BEM with YSU, but are your changes included there too?

[2021-05-21 09:45] andreazonato commented on #13
Yes, my changes are included too! You should simply add @matthiasc2s 's URBPARM_LCZ.TBL plus a couple of lines that i'll send you, and that'all you need to modify

[2021-05-21 09:46] dargueso commented on #13
OK, lets go with that option then. Send me the lines and I'll get v4.3 compiled locally and in the supercomputer.

[2021-05-21 09:48] andreazonato commented on #13
#
# GR_FLAG: 1 to switch on green roof model (0-1)
#      (sf_urban_physics=3)
#

GR_FLAG:0

#
# GR_TYPE: 1 for GRASS, 2 for SEDUM vegetation on the green roof
#      (sf_urban_physics=3)
#

GR_TYPE: 2

#
# GR_FRAC_ROOF: fraction of green roof over the roof (0:1)
#      (sf_urban_physics=3)
#

GR_FRAC_ROOF:0,0,0,0,0,0,0,0,0,0,0

#
# HSEQUIP:  Diurnal  profile of sprinkler irrigation for the green

[2021-05-21 09:50] dargueso commented on #13
Thanks! I'll give it a go

[2021-05-21 09:56] matthiasdemuzere commented on #13
Good work guys.

The additional lines that were sent are also [here](https://github.com/wrf-model/WRF/blob/f4f83984357b021062e6ff94a21fe7aac3e9937b/run/URBPARM_LCZ.TBL), as I pushed this new default table to WRF's new v4.3.1 release. So it should be present in an upcoming version.

Just for you to know ...

[2021-05-21 10:29] dargueso commented on #13
The option of moving the 1st level up works. I changed the 1st level in the model coordinates and resulted in the first level at around 45m (I aimed at 55, but I was just roughly selecting the model levels). Anyway, it seems to work with that modification.
Shall we move forward with this option and keep what has been run for exp B (~20%) or move to BEP+BEM? I don't have a strong opinion on this.

[2021-05-21 10:33] andreazonato commented on #13
The point is this, in my opinion:

if you move up the 1st level, then you should re-run exp A) and B), since
conditions changes in the numerical computation. For this reason, I would
remain with the possibility of:

1) smooth tallest buildings
2) run it with BEP+ BEM.

Il giorno ven 21 mag 2021 alle ore 12:29 Daniel Argüeso <
***@***.***> ha scritto:

[2021-05-21 10:37] dargueso commented on #13
Agree. I'm compiling v4.3 and will see how it goes with BEP+BEM. I will thus rerun expB.

[2021-05-21 11:09] matthiasdemuzere commented on #13
I agree with this path taking. The most clean one, in which we'll not have to talk ourselves out of certain decisions we took.
And ... beneficial because Andrea is more experienced with BEP+BEM.

@dargueso: also thanks for pro-actively requesting additional CPU time.

@dargueso: can you hold on a little bit longer with submitting Exp. C. @albertomartilli found some strange behaviour of my building

[2021-05-21 12:36] dargueso commented on #13
Ok, we'll take that path!

I'll hold exp C until you tell me, @matthiasdemuzere. I'll be busy compiling and running exp B.

[2021-05-21 15:39] albertomartilli commented on #13
Hi All,
I read the whole chain..very iteresting. Yes, SLUCM cannot have the first level below building height. Mind also that the T2 (2m temperature's output of WRF) with SLUCM is in reality 2m above roof level - it is derived with a log-law using the total heat flux, including the one from roofs).

May I know what Exp. A, B, and C are about?

[2021-05-21 17:51] matthiasdemuzere opened #18 "fine tune HI_URB2D"
When testing the tool over Zaragoza, @albertomartilli found the building height distributions [0-75m] in URB_PARAM inconsistent with the corresponding LCZ class.

His comment:

Still looking around in some point sof the fiel you sent for Zaragoza, I see that the mean building height is not at the center of the distribution.

For example, the point class 32 (i=80, j=48) has a mean building hieght o

[2021-05-21 18:02] matthiasdemuzere commented on #13
Hi @albertomartilli,

Thanks for the info. Now that we are moving to BEP/BEM, this item is solved then.

With respect to the experiments:

The discussion of [Li et al (2020)](http://doi.org/10.1029/2020GL088758) on urban induced precip stated that future work should include a more heterogeneous urban description. So I contacted Daniel to re-do this experiment, using LCZ information. More details o

[2021-05-21 19:44] matthiasdemuzere commented on #18
Fixed in #19

[2021-05-21 20:02] matthiasdemuzere commented on #18
@dargueso: revised files for our Kuala Lumpur experiment are available [here](https://drive.google.com/drive/folders/1KT3hWza_WFUc_wL7qxfFUltVZ4iKj68P?usp=sharing). Can you confirm you have received the files?

Let's hope these work without any further issues ...

[2021-05-22 06:14] matthiasdemuzere commented on #18
@albertomartilli [just moving this comment here, under the issues section].

Great.

Good point. Yet perhaps it is better to do this within this code, so that future users of this tool will not have to change the BEP+BEM source code. What would you suggest? Set e.g. values < 5% to 0?

I was also wondering whether the float type will influence the computation? Perhaps we could set the % to integers

[2021-05-22 19:22] albertomartilli commented on #18
Set values less than 5% to zero is a good option. This is relevant mainly if you use BEM. The code simulates the full Building Energy for every building with a percentage greater than zero, and then weight the fluxes using the percentages. For example for the point you mention, it would simulate 5 buildings (5m, 10m, 15m, 20m and 25m), but likely the impact of the 5m building (1.7%) and 25m (4.1%)

[2021-05-22 19:55] matthiasdemuzere commented on #18
Ok, I can implement this filter in my code.

This I do not understand yet. Could you clarify? We could also talk about this during our call.

Ok. We can leave it as is for the moment.

I aleady pushed an updated version of URBPARM_LCZ.TBL to the official github (see [here](https://github.com/wrf-model/WRF/pull/1520)). Once I understand how the values in this file should be structured, I don't mind

[2021-05-23 06:43] matthiasdemuzere commented on #18
@albertomartilli: the 5% filtering has been applied. See email for updated file.

@dargueso: I again re-processed the KL files as well, you can download them from [w2w_v6 in my google drive](https://drive.google.com/drive/folders/1pWNeWGAkbhL8lUeW6ZL3GK2RSuKaKcGu?usp=sharing).

[2021-05-24 07:20] dargueso commented on #12
Ok, so I've started again exp B with v4.3 using BEP+BEM and the latest version of the geo_em file (v6).
As far as I can tell, I can also start exp C with the URBPARM file you sent ([here](https://github.com/wrf-model/WRF/blob/f4f83984357b021062e6ff94a21fe7aac3e9937b/run/URBPARM_LCZ.TBL))  and the corresponding geo_em (v6, LCZ params), right?

I think we should start closing issues and create a gen

[2021-05-24 07:21] dargueso commented on #18
Thanks so much @albertomartilli and @matthiasdemuzere for working on the tool and fine tuning the geo_em files!

PD: Hi @albertomartilli, nice to "see" you again!

[2021-05-24 08:05] andreazonato commented on #12
Yes, in my opinion, BEP+BEM for exp B) and C) is the best solution we have.
Yes, we should close all issues and hopefully BEP+BEM will run without any problem for exp C) too. Actually I'm pretty sure it will work, since this current WRF version works good in all cases we tested before to be released.

[2021-05-24 17:28] albertomartilli commented on #18
Hi Daniel!

nice to get in touch with you again, let see if we can do some work together...

Alberto Martilli

Air Quality Modelling Group

CIEMAT,

Madrid, Spain

https://www.researchgate.net/profile/Alberto-Martilli

________________________________
De: Matthias Demuzere ***@***.***>
Enviado: domingo, 23 de mayo de 2021 8:43:19
Para: matthiasdemuzere/wrf-lcz-KL
Cc: Martilli, Alberto; Mention
Asu

[2021-05-24 18:39] #2 closed

[2021-05-24 18:39] #3 closed

[2021-05-24 18:39] #4 closed

[2021-05-24 18:39] #5 closed

[2021-05-24 18:39] #6 closed

[2021-05-24 18:39] #8 closed

[2021-05-24 18:39] #12 closed

[2021-05-24 18:39] #11 closed

[2021-05-24 18:39] #13 closed

[2021-05-24 18:39] #14 closed

[2021-05-24 18:41] matthiasdemuzere opened #21 "Overall progress"
As per @dargueso his suggestion, I closed all other Issues, as it was getting difficult to keep track of what was discussed in there.

From now on we should try to be a bit more structured:
- provide updates to overall progress here
- start a new item for specific bugs / issues.

For now, let's get all simulations started, and then we can discuss about follow-up steps ...

[2021-05-24 18:43] matthiasdemuzere opened #22 "number of percentges greater than 5"
Feature requested by @albertomartilli:

It would be good if you can extract also the maximum "number of percentges greater than 5" over all the grid points, because this is a parameter we have to fix in WRF.

Could you perhaps elaborate a bit more what you mean by this @albertomartilli? Then I can have a look ....

[2021-05-24 18:43] #18 closed

[2021-05-25 06:50] dargueso commented on #21
Thanks @matthiasdemuzere
Both exp B and exp C first jobs submitted, I'll let you know how it goes. Fingers crossed.

[2021-05-25 08:08] andreazonato commented on #21
@dargueso  did you managed to run exp C) with BEP+BEM correctly?

[2021-05-25 08:58] dargueso commented on #21
@andreazonato Yep, it seems to be running fine at our local machine. Let see how it goes at the supercomputer. At our local machine, I just checked that is running and that it writes out, but it is very slow so I only let it run for a few time steps.

[2021-05-25 13:21] dargueso opened #23 "WRFV4.3 BEP+BEM restarts"
Hi all,
I've got issues with Exp B (Exp C hasn't started yet) when writing the restart out.
The model seems to run well, but after writing the restart it freezes. As usual, it doesn't give any clarifying error message. I've tried to write restarts at different frequencies to isolate the problem, and it always freezes right after writing out the restart file, no matter when we write it out.
Those r

[2021-05-25 13:32] albertomartilli commented on #23
Hi Dani,
not sure, I usually do not do restarts. My runs are at the best one week-10 days, so I do not restart them. Anything strange in the fields before it crashes at the tiem when it writes the restart? Do you really need restarts?

[2021-05-25 16:43] dargueso commented on #23
@albertomartilli, we're running 5 years, so we need to use restarts. There's no way to fit jobs in the queues if the simulations exceed 15 days or so. I'm checking the restarts, but all I can see is that they aren't complete. Still checking.

[2021-05-25 16:51] albertomartilli commented on #22
For example in the grid point we refer to for Zaragoza, there are "3 height percentages" different than zero, e. g. buildings of 10, 15 and 20m. IN another grid point you may have a different amount of "percentages different than zero", for example 4 if you have buildings of 5m, 10m, 15m, and 20m. What I need is to extract the "maximum amount of percentages different than zero" over all the grid p

[2021-05-25 18:30] matthiasdemuzere commented on #22
Ok, so per grid cell the number of 5m height bins that are not zero? Correct?

Should this field be included in the resulting netcdf file? If so, what should be its variable name (and other metata such as long name, description etc)? Or do you want this in another format?

Just let me know @albertomartilli, I can then see how to implement this ...

[2021-05-25 18:34] matthiasdemuzere commented on #23
Good luck with this @dargueso.

When I was emailing with one of the WRF code maintainers (Cenlin He - cenlinhe@ucar.edu) about the update of the URBPARAM_LCZ table, he also mentioned the following:

While different from your error, perhaps you could reach out to him also to ask for support? Unless of course @andreazonato has ideas on how to solve this?

[2021-05-25 18:54] albertomartilli commented on #22
Not the field, just one number - the maximum value over all the urban grid points. This is a number I can put in wrf to optimize the memory storage. By default it's 15, but if we can reduce it we will save memory

[2021-05-25 18:57] albertomartilli commented on #23
5 years..are you kidding, right ;-). In any case I just tried and in my case with the new version, the code does not stop when it writes a restart. I didn't know about the problem mentioned by Cenlin above, given that as I said I usually do not use restart.
I think it is worth to contact him - if you do it, please put me in cc, since I'd like to know

[2021-05-25 19:07] matthiasdemuzere commented on #22
ha, ok.

This table below already gives a first hint of course, with a maximum of 4 different bins that contain values greater than 5%.
[df_hi.csv](https://github.com/matthiasdemuzere/wrf-lcz-KL/files/6541724/df_hi.csv).

Of course, the lcz-resolution averaging could lead to a different number, yet I assume it will never be much more than this?

But I can add this information.

Perhaps I could add

[2021-05-25 19:49] dargueso commented on #23
Thanks for your feedback. I have solved the problem for exp B. Apparently, It was an issue with the size of the restart. Running with one domain only solved it. Then splitting the restart files one per processor, thus making restart files much smaller, also fixed the problem. So now it is running with this latter option. Let see if it works for exp C too.

Having said that, it is interesting what

[2021-05-25 20:36] albertomartilli commented on #22
this is a parameter that we need at compilation time, and not at run time. But it is OK if you add it as global attribute, so people can check in the netcdf with a simple ncdump.
If you do it, call it "nbui_max" which is the name of this parameter in wrf.
Thanks

[2021-05-26 08:37] andreazonato commented on #23
Dear all,

the problem Cenlin mentioned is about the green-roof+PVP parameterizations, so it is not important in our case.
@dargueso, I've no idea about the problem sincerelly. Can it be related to the fact that you print additional variables in the Registry? Is it giving you some error into the rsl*?

[2021-05-26 08:38] andreazonato commented on #23
I tried the new code with the restarts...and it works in my cases too. Did you try with the "old" version, i.e the pre-release I sent you before the new WRF 4.3 came out?

[2021-05-26 09:18] dargueso commented on #23
Thanks all, problem solved. As I mentioned, it was an issue with the size of the restart files. Now it works for exp C too.

[2021-05-26 09:18] #23 closed

[2021-05-26 13:54] matthiasdemuzere commented on #22
Hi @albertomartilli,

I have added the value now as a global attribute. This is for the Zaragoza case (ndui_max = 4):

![image](https://user-images.githubusercontent.com/6926916/119671299-f5222100-be39-11eb-96cf-bf58b36364e3.png)

Note that hen the w2w routine is executed, this information is also provided in the terminal:

![image](https://user-images.githubusercontent.com/6926916/119671440-0c610

[2021-05-26 14:00] albertomartilli commented on #22
perfect, thanks!

During our meeting of the 2nd of june, can you explain us how to use your python code, and provide it to us, or it is too early?

A.

Alberto Martilli

Air Quality Modelling Group

CIEMAT,

Madrid, Spain

https://www.researchgate.net/profile/Alberto-Martilli

________________________________
De: Matthias Demuzere ***@***.***>
Enviado: miércoles, 26 de mayo de 2021 15:55:14
Para:

[2021-05-26 14:03] matthiasdemuzere commented on #22
Let me address this in an email, including Alejandro.

I will close this issue now, as it is done.

[2021-05-26 14:03] #22 closed

[2021-05-27 07:41] dargueso commented on #21
I've uploaded a few sample files for exp B and C in case you want to check them out. Our storage has been down for a week now and I can't access exp A files, but I will upload them as soon as I can.

Please note that outputs are divided into three streams:
wrfout. hourly files, one step per file. Containing mostly 2D variables
wrf3hrly. 3 hourly files. one step per file. Containing mostly 3D varia

[2021-05-27 09:21] andreazonato commented on #21
@dargueso , I had a look at the output, and BEP+BEM seems to give reasonable results.
Looking forward to the complete simulation then! =)

[2021-05-27 13:40] dargueso commented on #21
Thanks @andreazonato. They are all running :)
Hope the finish by the end of the month, we do have enough CPU time, but the queues get busier as the end of the call period gets closer.
Will keep you updated.

[2021-06-09 10:29] oscarbrousse opened #25 "Boundary conditions"
Previous work over Madrid showed that urban pixels located close to the boundaries can make the model explode when BEP-BEM is activated. Possible explanations were related to heat and kinetic energy transport. We did not investigate it at the time but removing the urban pixels for a certain amount of pixels located close to the boundary allowed the model to work well.

Possible switch to add to th

[2021-06-11 07:54] matthiasdemuzere commented on #25
Hi @oscarbrousse

I have given this some thought, and decided not to implement this. Reasons?

As far as I understand, this is a behaviour you encountered quite some time ago, with a different WRF version (3.2?)
As such, we do not know if this problem still persists in the current version.
Therefore I would only like to respond to things only when do they occur.

I will close this issue for now. Y

[2021-06-11 07:54] #25 closed

[2021-06-23 10:54] Zhengzefeng1999 opened #27 "metgrid.exe crashed when using the *.nc files generated by w2w.py"
Hello everyone!

I'm new to WRF and I want to simulate the temperature in urban areas of Fuzhou, China. After reading the [paper](https://doi.org/10.3389/fenvs.2021.637455) about [LCZ-generator](https://lcz-generator.rub.de/), I'm interested in the work of using LCZ classification results to replace the default urban areas in WRF(as you did here). I successfully generated an LCZ map of Fuzhou city

[2021-06-23 11:14] dargueso commented on #27
Hi Zefeng Zheng,

Please double check you renamed the file to geo_em.d04.nc and you place it where you run metgrid.exe. It is quite likely that metrgrid.exe cannot find it.

If everything is fine in terms of names and paths, try to open it with some netCDF tool (i.e. ncview, ncdump) to check it is not corrupted for some reason.

Best,
Daniel

[2021-06-23 12:10] Zhengzefeng1999 commented on #27
Hi Daniel

Thanks for your quick reply!

Yes, I copied it to the path where other parent domain geo_em.d0X.nc files were and renamed it to geo_em.d04.nc correctly.

I used ncview to check the LU_index and FRC_URB2D, that seems the tool works great.
![LCZ_params-FRC_URB2D](https://user-images.githubusercontent.com/45625353/123092745-65ce5480-d45d-11eb-9e95-e6ff72df819c.png)
![LCZ_params-LU_index](h

[2021-06-23 13:15] dargueso commented on #27
Hi Zefeng Zheng,

I could be due to the WRF version. Which one are you using?. If you could share the input data with me, I can try myself and figure out what might be going wrong. It's hard to tell from the information above.
The METGRID.TBL shouldn't be an issue, because we used the default ones in the tests and because it crashes when reading geo_em, and the namelist.input is not relevant at th